* {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
    color: #181818;
    margin:0;
}

img {
    border-radius: 24px;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
}

hr {
    width: 100px;
}

button {

    height: 56px;
    align-items: center;
    border: 2px solid #181818;
    border-radius: 8px;
}

.h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
}

.h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
}

.h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.p_bold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header {
    margin-top: 40px;
}

.header__icon {
    text-transform: uppercase;

    border: 2px solid #181818;
    border-radius: 8px;

    position: absolute;

    padding: 4px 8px;
    margin-left: 140px;
}

.header__nav {
    width: 500px;
    margin: 0 auto;
}

.nav__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav__item {
    text-align: center;
}

.nav__link {
    line-height: 40px;
    color: #181818;
}

.introduction {
    margin: 0 auto;
    padding: 100px 0 60px;
}

.introduction__title {
    text-align: center;
    letter-spacing: -0.02em;
    color: #181818;

    margin: 0 100px;
}

.introduction__content {
    text-align: center;
    color: #181818;

    margin: 40px 120px 0;
}

.introduction__buttons {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-introduction__button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 8px;
}

#button__telegram {
    background: #181818;
    color: #FFFFFF;
}

#button__video {
    background:#F5F5F5;
    color: #181818;

}

.works {
    background-color: #181818;
    color: #FFFFFF;

    padding-top: 40px;
    padding-bottom: 60px;
}

.works__nav {
    background-color: #181818;
    width: 500px;
    margin: 0 auto 40px;
}

.nav-works__list {
    background-color: #181818;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}

.nav-works__item {
    background-color: #181818;
    
    text-align: center;

    padding: 4px 16px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.nav-works__item--current {
    background-color: #FFFFFF;
}

.nav-works__item--current a{
    background-color: #FFFFFF;
    color: #181818;
}

.nav-works__link {
    background-color: #181818;
    color: #FFFFFF;
}

.works__gallery {
    background-color: #181818;

    width: 1197px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.gallery__block {
    width: 1197px;
    background-color: #181818;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery__block_first {
    margin-top: 0px;
}

.gallery__photo_big {
    width: 1197px;
    object-fit: cover;

    background-color: #181818;
}

.gallery__photo_small {
    width: 580px;
    object-fit: cover;

    background-color: #181818;
}

.about {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    justify-content: space-between;

}

.about__image {
    width: 380px;
    height: 550px;
    object-fit: cover;
}

.about__info {
    width: 480px;
}

.info-about__title {
    letter-spacing: -0.02em;
    color: #181818;

    display: block;
    margin-top: 80px;
}

.info-about__content {
    color: #181818;

    display: block;
    margin-top: 24px;
}

.info-about__badges {
    width: 300px;
    margin-top: 60px;
    display:flex;
    justify-content: space-between;
}

.info-about__badge {
    width: 70px;
}

.badge__number {
    width: 70px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
    display: block;
}

.badge__describtion {
    width: 70px;
    display: block;
}

.services {
    background-color:  #181818;
    padding: 60px 0 120px;
}

.services__title {
    text-align: center;
    background-color:  #181818;
    color: #FFFFFF;

    margin: 60px 0 80px;
}

.services__blocks {
    background-color:   #181818;
    width: 1197px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.services__block {
    background-color:#FFFFFF;
    width: 280px;
    padding: 40px;

    border: 2px solid #FFFFFF;
    border-radius: 16px;
}

.block-services__number {
    font-size: 12px;
    color: #181818;

    background-color:#FFFFFF;
}

.block-services__title {
    color: #181818;

    background-color:#FFFFFF;

    margin-top: 8px;
}

.block-services__content {
    color: #181818;

    background-color:#FFFFFF;

    height: 120px;

    margin-top: 16px;
    margin-bottom: 56px;
}

.block-services__cost {
    color: #181818;

    background-color:#FFFFFF;

    margin-top: 56px;
}

.cost {
    padding: 120px 0;
}

.cost__title {
    text-align: center;
    margin-bottom: 80px;
}

.cost__options {
    width: 400px;
    padding: 40px 24px;
    margin: 0 auto -8px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.options-cost__select {
    color: #181818;
    
    border-radius: 8px;
    border-color: #808080;

    width: 100%;
    display: block;
    padding: 16px;
    margin-bottom: 24px;
}

.options-cost__checkbox {
    display: flex;
    align-items: flex-start;    
}

.options-cost__checkbox input {
    margin-top: 5px;
    border-radius: 4px;
}
.options-cost__checkbox .p {
    margin-left: 16px;
}

.options-cost__button {
    width: 100%;
    margin-top: 40px;
}

.cost__result {
    width: 352px;
    padding: 40px 24px;
    margin: 0 auto;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.result-cost__badge {
    margin-top: 24px;
}

.result-cost__button {
    background-color: #181818;
    color:#FFFFFF;

    width: 100%;
    margin-top: 40px;
}

.faq {
    background-color:#181818;
    padding: 120px 0;
}

.faq__title {
    text-align: center;
    background-color:  #181818;
    color: #FFFFFF;


    margin-bottom: 80px;
}

.faq__block {
    background-color:#FFFFFF;
    width: 1080px;
    padding: 32px 40px;
    margin: 0 auto 16px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.block-faq__container {
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.block-faq__title {
    background-color:#FFFFFF;
}

.block-faq__siqn {
    background-color:#FFFFFF;
}


.block-faq__content {
    background-color:#FFFFFF;
    margin-top: 24px;
}

.block-faq__list {
    background-color:#FFFFFF;
}

.block-faq__list li {
    background-color:#FFFFFF;
}

.block-faq__list li .p {
    background-color:#FFFFFF;
}

.application {
    padding: 120px 0;
}

.application__title {
    text-align: center;
    margin-bottom: 8px;
}

.application__description {
    text-align: center;
    margin:8px 40px 80px;
}

.application__block {
    width: 400px;
    padding: 40px 24px;
    margin: 0 auto;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.block-application__field {
    color: #808080;
    
    border: 1px solid #808080;
    border-radius: 8px;
    border-color: #808080;

    width: 365px;
    display: block;
    padding: 12px 16px;
    margin-bottom: 24px;

    resize: none;

}

.block-application__select {
    color: #808080;
    
    border-radius: 8px;
    border-color: #808080;

    width: 400px;
    display: block;
    padding: 16px;
    margin-bottom: 24px;

}

.block-application__button {
    background-color: #181818;
    color:#FFFFFF;

    width: 100%;
    margin-top: 16px;
}

.footer {
    background-color:#181818;
    padding: 40px 0;
}

.footer-buttons {
    background-color:#181818;
    width:177px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

}

.footer-button {
    background-color:#FFFFFF;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    border-radius: 1000px;
}

.footer-button svg {
    background-color:#FFFFFF;
}

@media (max-width: 1900px) {

}

@media (max-width: 1350px) {
    .header__icon {
        margin-left: 100px;
    }

    .works__gallery {
        width: 900px;
    }
    .gallery__block {
        width: 900px;
    }
    .gallery__photo_big {
        width: 900px;
    }
    .gallery__photo_small {
        width: 420px;
    }

    .services__blocks {
        width: 900px;
    }
    .services__block {
        width: 190px;
    }

    .faq__block {
        width: 780px;
    }
}

@media (max-width: 1000px) {
    .header__icon {
        margin-left: 60px;
    }

    .header__nav {
        width: 400px;
    }

    .introduction__title {
        margin-right: 80px;
        margin-left: 80px;
    }

    .introduction__content {
        margin-right: 80px;
        margin-left: 80px;
    }

    .works__gallery {
        width: 650px;
    }
    .gallery__block {
        width: 650px;
        flex-direction: column;
        
    }
    .gallery__photo_big {
        width: 650px;
    }
    .gallery__photo_small {
        width: 650px;
    }

    .gallery__photo_small_first {
        margin-bottom: 40px;
    }

    .about {
        width: 650px;
        flex-direction: column;
    }

    .about__image {
        width: 650px;
        height: 365px;
    }

    .about__info {
        width: 550px;
        margin: 0 auto;
    }

    .info-about__title {
        text-align: center;
    }

    .info-about__content {
        text-align: center;
    }

    .info-about__badges {
        width: 400px;
        margin-left: auto;
        margin-right:auto;
    }

    .services__blocks {
        width: 434px;
        flex-direction: column;
    }
    .services__block {
        width: 350px;
        margin-top: 40px;
    }

    .services__block_first {
        margin-top: 0;
    }

    .block-services__content {
        height: 96px;
    }

    .faq__block {
        width: 530px;
    }
}

@media (max-width: 700px) {
    .header__icon {
        margin-left: 30px;
    }

    .header__nav {
        width: 350px;
    }

    .introduction__title {
        margin-right: 40px;
        margin-left: 40px;
    }

    .introduction__content {
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .works__nav {
        width: 450px;
    }

    .works__gallery {
        width: 500px;
    }
    .gallery__block {
        width: 500px;
        flex-direction: column;
        
    }
    .gallery__photo_big {
        width: 500px;
    }
    .gallery__photo_small {
        width: 500px;
    }

    .gallery__photo_small_first {
        margin-bottom: 40px;
    }

    .about {
        width: 500px;
        flex-direction: column;
    }

    .about__image {
        width: 500px;
        height: 280px;
    }

    .about__info {
        width: 400px;
        margin: 0 auto;
    }

    .about__badges {
        width: 400px;
        margin-left: auto;
        margin-right:auto;
    }

    .info-about__title {
        text-align: center;
    }

    .info-about__content {
        text-align: center;
    }

    .faq__block {
        width: 360px;
    }
}

@media (max-width: 540px) {
    button {
        height: 48px;
    }

    .h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .h2 {
        font-size: 32px;
        line-height: 40px;
    }
    
    .h3 {
        font-size: 24px;
        line-height: 40px;
    }

    .h4 {
        font-size: 20px;
        line-height: 20px;
    }

    .h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .p {
        font-size: 12px;
        line-height: 20px;
    }

    .p_bold {
        font-size: 12px;
        line-height: 20px;
    }

    .header {
        position: flex;
        flex-direction: column;
        align-items: center;
    }

    .header div {
        width: 45px;
        margin: 0 auto;
    }

    .header__icon {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .header__nav {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav__list {
        margin-top: 40px;
    }

    .introduction {
        padding: 40px 0;
    }

    .introduction__title {
        margin-right: 20px;
        margin-left: 20px;
    }

    .introduction__content {
        margin-right: 40px;
        margin-left: 40px;
    }

    .introduction__buttons {
        width: 200px;
        flex-direction: column;
        margin-top: 30px;
    }

    .buttons-introduction__button {
        padding-left: 8px;
        padding-right: 8px;
        margin: 16px 4px 0;
    }

    .works {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    
    .works__nav {
        width: 250px;
    }

    .nav-works__list {
        flex-direction: column;
    }

    .nav-works__item {
        margin-top: 16px;
        width: 100px;

        padding: 2px 16px;
    }

    .works__gallery {
        width: 280px;
    }
    .gallery__block {
        width: 280px;
        flex-direction: column;
        
    }
    .gallery__photo_big {
        width: 280px;
    }
    .gallery__photo_small {
        width: 280px;
    }

    .gallery__photo_small_first {
        margin-bottom: 28px;
    }

    .about {
        width: 280px;
        flex-direction: column;
        padding: 60px 0;
    }

    .about__image {
        width: 280px;
        height: 157px;
    }

    .about__info {
        width: 250px;
        margin: 0 auto;
    }

    .info-about__badges {
        width: 280px;
        margin-left: auto;
        margin-right:auto;
    }

    .info-about__badge {
        width: 52px;
    }

    .badge__number {
        width: 52px;
    }
    
    .badge__describtion {
        width: 52px;
    }

    .services {
        padding: 60px 0;
    }

    .services__title {
        margin: 0 0 60px;
    }

    .services__blocks {
        width: 280px;
        flex-direction: column;
    }
    .services__block {
        width: 232px;
        margin-top: 40px;
        padding: 24px;
    }

    .services__block_first {
        margin-top: 0;
    }

    .block-services__content {
        height: 60px;
    }

    .cost {
        padding: 60px 0;
    }

    .cost__title {
        text-align: center;
        margin-bottom: 60px;
    }

    .cost__options {
        width: 232px;
        padding: 24px;
    }

    .cost__result {
        width: 192px;
        padding: 24px;
    }

    .faq {
        display:block;
        background-color:#181818;
        padding: 60px 0;
    }

    .faq__block {
        width: 232px;
        padding: 20px 24px;
    }

    .faq__title {    
        margin-bottom: 60px;
    }

    .application {
        padding: 60px 0;
    }

    .application__description {
        text-align: center;
        margin: 8px 40px 60px;
    }

    .application__block {
        width: 232px;
        padding: 24px;
    }

    .block-application__field {
        width: 197px;    
    }

    .block-application__select {
        width: 232px;    
    }

    .footer {
        background-color:#181818;
        padding: 20px 0;
    }
    
}



